:plain
  <!doctype html>
  <!--[if lt IE 7]>         <html class="no-js ie lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>            <html class="no-js ie lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>            <html class="no-js ie lt-ie10 lt-ie9" lang="en"> <![endif]-->
  <!--[if IE 9]>            <html class="no-js ie lt-ie10" lang="en"> <![endif]-->
  <!--[if gt IE 9]><!-->    <html class="no-js" lang="en"> <!--<![endif]-->

%head
  = partial 'partials/html-layout/header'

%body.preload{:class => page_classes}

  = partial 'partials/global_header'

  #preloader
    = partial 'partials/html-components/loader'

  %div#content{:role=>'main'}
    = yield

  = partial 'partials/html-layout/footer'
